// Variables.less
// Variables to customize the look and feel of Bootstrap
// Swatch: Cerulean
// Version: 2.0.2
// -----------------------------------------------------



// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #F5F5F5 !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #3E78B3 !default;
$blueDark:              #033C73 !default;
$green:                 #73A839 !default;
$red:                   #C71C22 !default;
$yellow:                #F7B42C !default;
$orange:                #DD5600 !default;
$pink:                  #F49AC1 !default;
$purple:                #9760B3 !default;


// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $gray !default;


// Links
// -------------------------
$linkColor:             #369BD7 !default;
$linkColorHover:        darken($linkColor, 15%) !default;


// Typography
// -------------------------
$baseFontSize:          13px !default;
$baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseLineHeight:        18px !default;
$altFontFamily:         Georgia, "Times New Roman", Times, serif !default;

$headingsFontFamily:    'Telex', sans-serif !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         #317EAC !default; // empty to use BS default, $textColor


// Tables
// -------------------------
$tableBackground:                   transparent !default; // overall background-color
$tableBackgroundAccent:             #f9f9f9 !default; // for striping
$tableBackgroundHover:              #f5f5f5 !default; // for hover
$tableBorder:                       #ddd !default; // table and cell border


// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         darken($white, 20%) !default;

$btnPrimaryBackground:              $linkColor !default;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 15%) !default;

$btnInfoBackground:                 $purple !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              $green !default;
$btnSuccessBackgroundHighlight:     #51a351 !default;

$btnWarningBackground:              $orange !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               $red !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              $yellow !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;


// Forms
// -------------------------
$inputBackground:               $white !default;
$inputBorder:                   #ccc !default;
$inputDisabledBackground:       $grayLighter !default;


// Dropdowns
// -------------------------
$dropdownBackground:            $white !default;
$dropdownBorder:                rgba(0,0,0,.2) !default;
$dropdownLinkColor:             $grayDark !default;
$dropdownLinkColorHover:        $white !default;
$dropdownLinkBackgroundHover:   $linkColor !default;




// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000 !default;
$zindexPopover:           1010 !default;
$zindexTooltip:           1020 !default;
$zindexFixedNavbar:       1030 !default;
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;


// Sprite icons path
// -------------------------
$iconSpritePath:          asset-url("glyphicons-halflings.png", image) !default;
$iconWhiteSpritePath:     asset-url("glyphicons-halflings-white.png", image) !default;

// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight !default;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter !default;


// Navbar
// -------------------------
$navbarHeight:                    40px !default;
$navbarBackground:                $linkColor !default;
$navbarBackgroundHighlight:       lighten($linkColor, 10%) !default;

$navbarText:                      $grayLighter !default;
$navbarLinkColor:                 $grayLighter !default;
$navbarLinkColorHover:            $white !default;
$navbarLinkColorActive:           $navbarLinkColorHover !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      $navbarBackground !default;

$navbarSearchBackground:          lighten($navbarBackground, 25%) !default;
$navbarSearchBackgroundFocus:     $white !default;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%) !default;
$navbarSearchPlaceholderColor:    $white !default;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter !default;
$heroUnitHeadingColor:            inherit !default;
$heroUnitLeadColor:               inherit !default;


// Form states and alerts
// -------------------------
$warningText:             darken($linkColor, 20%) !default;
$warningBackground:       lighten($linkColor, 20%) !default;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText:               darken(#C45559, 5%) !default;
$errorBackground:         #EDDBE3 !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             darken($green, 5%) !default;
$successBackground:       #CDB !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                darken(#908A62, 5%) !default;
$infoBackground:          #EDEBE1 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;




// GRID
// --------------------------------------------------

// Default 940px grid
// -------------------------
$gridColumns:             12 !default;
$gridColumnWidth:         60px !default;
$gridGutterWidth:         20px !default;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;


// Fluid grid
// -------------------------
$fluidGridColumnWidth:    6.382978723% !default;
$fluidGridGutterWidth:    2.127659574% !default;





