@import "bourbon";

@import "bootswatch/simplex/variables";
@import "bootstrap";
@import 'font-awesome';

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

@import "bootstrap-responsive";
@import "bootswatch/simplex/theme";

@font-face{
  font-family: "monofur";
  src: url('/assets/fonts/monofur.eot');
  src: local("monofur"), url('/assets/fonts/monofur.ttf') format("truetype");
}
.monofur {
  font-family: "monofur";
}

.brand {
  font-family: "monofur";
  font-size: 25px;
  padding-top: 3px;
}
.brand-logo {
  float: left;
  }
img.truestack-logo {
  height: 25px;
  float: left;
  padding: 5px;
}
