@import "bourbon";

@import "bootswatch/simplex/variables";
@import "bootstrap";
@import 'font-awesome';

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

@import "bootstrap-responsive";
@import "bootswatch/simplex/theme";


@font-face {
    font-family: 'monofurRegular';
    src: url('/fonts/monofur-webfont.eot');
    src: url('/fonts/monofur-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/monofur-webfont.woff') format('woff'),
         url('/fonts/monofur-webfont.ttf') format('truetype'),
         url('/fonts/monofur-webfont.svg#monofurRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.monofur {
  font-family: "monofur";
}

.brand {
  font-family: "monofur";
  font-size: 25px;
  padding-top: 3px;
}
.brand-logo {
  float: left;
  }
img.truestack-logo {
  height: 25px;
  float: left;
  padding: 5px;
}
