.hero-unit
  %h1 Your Dashboard For All Your Applications
  %p Here we may have a blurb about all your applications

- @user_applications.each do |app|
  .row
    %h2
      %a{href: user_application_path(app)}= app.name
