.hero-unit
  %p Here is the overview graph

%ul
  - @user_application.application_startups.order_by([:tstart, :desc]).each do |startup|
    %li
      = startup.commit_id
      %ul
        - startup.hosts.each do |host|
          %li= host
