.hero-unit
  %p Here is the overview graph

%ul
  - @user_application.deployments.order_by([:tstart, :desc]).each do |depoyment|
    %li
      = depoyment.commit_id
      %ul
        - depoyment.hosts.each do |host|
          %li= host
