.hero-unit
  %p
    %textarea{:style=>'width:100%; height: 200px;'}
      Here is the overview graph
      = @slices.to_json


%ul
  - @user_application.deployments.order_by([:tstart, :desc]).each do |depoyment|
    %li
      = depoyment.commit_id
      %ul
        - depoyment.hosts.each do |host|
          %li= host
