%h1 Listing deployments

%table
  %tr
    %th
    %th
    %th

  - @deployments.each do |deployment|
    %tr
      %td= link_to 'Show', deployment
      %td= link_to 'Edit', edit_deployment_path(deployment)
      %td= link_to 'Destroy', deployment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Deployment', new_deployment_path
